header {
  text-align: center;
  margin-top: 20px;
}

#creatures {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  
}
section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  max-width: 200px;
  border:solid blue 2px;
}
footer {
  clear: both;
}
img{
  max-width: 90%;
  float: left;
  margin: 10px;
  border: 2px solid rgb(148, 90, 90); 
}
body{
  background-color: grey;
  width:910px;


P{
  border: solid black 2px;
  max-width: 95%;
  padding-left: 2px;
}