@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

*{
  font-family: 'Solway', sans-serif;
}

header {
  border: solid black 5px;
  background-color: red;
}
#horns{
  text-align: center;  
}
img{
  height: 100px;
  
}


 main{
  display: inline-flex;
  flex-flow: row wrap;
  align-items: center;
justify-content: center;
  background-color: grey;
  
}